<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Urban Guess - Games</title>
<link rel="stylesheet" href="../public/stylesheets/style.css">
</head>

<body>


<section class="game-section">

<nav class="site-header">
  <div class="container">
    <a href="home.html">Home</a>
    <a href="games.html">Games</a>
    <a href="leaderboard.html">Leaderboard</a>
    <a href="profile" style="margin-left: 40%;">Profile</a>
  </div>
</nav>


<h1 style="margin-top: 60px;">Choose Region...</h1>

<div class="game-grid" id="gameGrid"></div>

</section>

<script src="/services/gameService.js"></script>
<script src="/services/script.js"></script>
</body>
</html>
